html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url('../img/bricks.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #7d97ad;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 46px;
  margin: 0;
}

.header {
    width: 660px;
    background-color: rgb(28, 38, 47);
    border-bottom: 5px solid #02b3e4;
    border-bottom-style: ridge;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.projects-title {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #2d3c49;
    color: #02b3e4;
    text-shadow: 2px 1px 1px black;
}

*time {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1em 0em 2em;
  position: absolute;
}

*stars {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1em 0em 2em;
  position: absolute;
}


/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    /*
    *background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    */
    background-color: rgba(28, 38, 47, 0.7);
    padding: 32px;
    /*
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px 1px #02b3e4;
}

.deck .card.open {
    transform: rotateY(0);
    background: #e49202c9;
    cursor: default;
    box-shadow: 0px 0px 15px 1px #02b3e4;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #66e402bd;
    font-size: 33px;
    box-shadow: 0px 0px 15px 1px #02b3e4;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.hidden {
  display: none;
}
*woohoo {
  display: flex;
  align-items: flex-start;
}


.you-win {
  width: 660px;
  min-height: 350px;
  background-color: #1c262f;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 1px #02b3e4;
  display: flex;
  align-items: center;
  position: absolute;
  margin: 1em 0em 2em;
  z-index: 999;
}

/*
 * Styles for the you won reset button.
 */
.green {
    color: #fff!important;
    background-color: #4CAF50!important;
}

.block {
    display: block;
    width: 100%;
}

.button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.footer {
    width: 660px;
    border-top: 5px solid #02b3e4;
    margin-bottom: 10px;
    background-color: #1c262f;
    border-top-style: ridge;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
