html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url('../img/bricks.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Roboto', sans-serif;
}

footer {
    color: #02b3e4;
    text-shadow: 2px 1px 1px black;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 46px;
    margin: 10px 0 5px 0;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
}

.header {
    width: 660px;
    margin: 50px 0 0 0;
    background-color: rgb(28, 38, 47);
    border-bottom: 5px solid #02b3e4;
    border-bottom-style: ridge;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.projects-title {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #2d3c49;
    color: #02b3e4;
    text-shadow: 2px 1px 1px black;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    /*
    *background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    */
    background-color: rgba(28, 38, 47, 0.7);
    padding: 32px;
    /*
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px 1px #02b3e4;
}

.deck .card.open {
    transform: rotateY(0);
    background: #e49202c9;
    cursor: default;
    box-shadow: 0px 0px 15px 1px #02b3e4;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #66e402bd;
    font-size: 33px;
    box-shadow: 0px 0px 15px 1px #02b3e4;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    font-size: 20px;
    color: #02b3e4;
    text-shadow: 2px 1px 1px black;
    text-align: left;
    margin: 0 38px 38px 38px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.hidden {
  display: none;
}

#stars {
  margin: 0;
  padding: 0;
  margin: 10px 0 20px 0;
}

#time {
  margin: 0;
  padding: 0;
  margin: 10px 0 20px 0;
}

#moves {
  margin: 0;
  padding: 0;
  margin: 10px 0 20px 0;
}


.you-win {
  width: 680px;
  background-color: #1c262f;
  padding: 20px;
  text-align: center;
  color: #02b3e4;
  text-shadow: 2px 1px 1px black;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 1px #02b3e4;
  position: absolute;
}

/*
 * Styles for the you won reset button.
 */
.green {
    color: #66e402bd;
    background-color: #2e3d49;
}


.button {
    border-radius: 5px;
    border-color: #66e402bd;
    box-shadow: 0px 0px 15px 1px #66e402bd;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.footer {
    width: 660px;
    margin: 0 0 100px 0;
    border-top: 5px solid #02b3e4;
    margin-bottom: 10px;
    background-color: #1c262f;
    border-top-style: ridge;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
